:root {
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);
  --message-bg: hsl(258, 26%, 36%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Grayish-sec: hsl(230, 25%, 95%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
  --font-size: 18px;
  --margin: 26px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bg{
  background: var(--Grayish-sec);
  margin-top: 80px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-size: var(--font-size);
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
}

.nav{
  display: flex;
  justify-content: space-between;
  padding: 30px 70px 0 70px ;
  font-size: 20px;
  font-weight: 700;
  color: var(--Gray);
}

.left img{
  width: 100%;
  height: 70%;
}

.right, .left{
  display: flex;
}

.nav ul{
  display: flex;
  list-style: none;
  gap: 30px;
}

.right button {
  border: none;
  height: 35px;
  padding: 10px;
}

/* Landing */
.land{
  display: flex;
  padding: 0 30px ;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  h1{
    font-size: 60px;
  }
  p{
    font-size: 30px;
  }
}

.land img{
  width: 100%;
}

.ld-1{
  width: 37%;
}

/* form */

.text {
  text-align: center;
  margin-top: 70px;
}

.text h2 {
  font-size: 2.4rem;
  letter-spacing: -0.2px;
}

.text p {
  color: var(--Grayish-Violet);
  max-width: 522px;
  margin: 11px auto 0;
  line-height: 1.8;
  letter-spacing: 0.2px;
}

.Form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  width: 100%;
  border: none;
 position: relative;
 top: -30px;
}

.Form .fr{
      flex-direction: column;
      border-radius: 30px;
      padding: 18px 30px;
      background-image: url(./assets/bg-boost-mobile.svg);
      background-size: cover;
      background-position: 40px -40px;
}

.gj{
  background-color: var(--Dark-Violet);
  border-radius: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fr {
  display: flex;
  gap: 8px;
  width: 90%;
}

.result{
  background-color: rgb(239, 245, 245);
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bars{
  display: flex;
  align-items: center;
  position: absolute;
  right:3%;
  font-size: 30px;
  font-weight: 800;
  z-index: 2;
  color: var(--Dark-Violet);
  top: 4%;
}

.prt{
  font-size: 20px;
}

.fr input{
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  height: 55px;
}

.fr button{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: var(--Cyan);
}

/* card */
.Cards {
  position: relative;
  margin-top: 97px;
}

.Cards::after {
  content: "";
  position: absolute;
  width: 75%;
  max-width: 1100px;
  height: 8px;
  top: 43%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px;
  background-color: cyan;
  z-index: 1;
}

.Cards .container {
  display: flex;
  justify-content: space-between;
  height: 356px;
}

.card {
  position: relative;
  background-color: white;
  border-radius: 6px;
  padding: 76px 32px 26px;
  max-width: 350px;
  height: fit-content;
  z-index: 50;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.06);
}

.card:nth-child(2) {
  align-self: center;
}

.card:nth-child(3) {
  align-self: flex-end;
}

.card .img {
  position: absolute;
  top: -44px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: var(--Dark-Violet);
  z-index: 5;
}

.card h3 {
  letter-spacing: 0.5px;
}

.card p {
  font-size: 16px;
  margin: 17px 0;
  letter-spacing: -0.5px;
  color: gray;
}


.boostSec {
  text-align: center;
  background-image: url('./assets/bg-boost-desktop.svg');
  background-repeat: no-repeat;
  background-color: var(--Dark-Violet);
  background-size: cover;
  margin-top: 120px;
  padding: 54px 0 58px;
  transition: 0.2s;
}


/* boostSec */


.boostSec h2 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  color: rgb(238, 231, 231);
}

.boostSec button {
  margin-top: 22px;
  background: var(--Cyan);
  padding: 20px;
  border-radius: 9px;
}



.div {
  position: relative;
  background-color: var(--Very-Dark-Violet);
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
}

.div .container {
  padding-top: 72px;
  padding-bottom: 62px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.div .left {
  flex-basis: 100%;
}

.div .logo {
  margin-left: -3px;
  width: 80%;
  height: 70%;
}

.div .logo img {
  filter: brightness(0) invert(1);
}

ul {
  flex-basis: 30.5%;
  list-style: none;
}

ul li {
  margin-bottom: 8px;
}

ul li a {
  color: var(--Grayish-Violet);
  transition: 0.16s;
  letter-spacing: -0.65px;
}

ul li a:hover {
  color: var(--Cyan);
}

.div ul .name {
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: -0.2px;
}

.div .right {
  flex-basis: 100%;
  display: flex;
  gap: 30px;
  font-size: 20px;
}

.div .right .social {
  font-size: 25px;
  flex-basis: 21%;
  display: flex;
  justify-content: space-between;
}

.div .right .social a {
  color: white;
  transition: 0.16s;
}

.div .right .social a:hover {
  color: var(--Cyan);
}
 




@media (max-width:1199px) {
  .card {
      max-width: 300px;
  }
}


@media (max-width:991px) {

  .nav {
    display: none;
}

.mobileNav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26%;
    padding: 10px 30px ;
}

.menu{
  position: absolute;
  right: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  border-radius: 12px;
  font-size: 20px;
  background: var(--Cyan);
  padding: 30px;
  z-index: 1;
  display: none;
}

.mobileNav .berg span {
  background-color: #333;
  height: 4px;
  width: 30px;
  margin: 4px 0;
}

.hidden {
  display: none;
}

.land{
  height: 90vh;
  margin-top: 14%;
}

.ld-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  text-align: center;
}


  .nav ul{
    position: absolute;
    display: block;
  }

  .Cards .container {
      flex-wrap: wrap;
  }

  .Cards::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 400px;
      top: 43%;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 6px;
      background-color: var(--Cyan);
      z-index: 1;
  }

  .card:nth-child(2) {
      align-self: initial;
  }

  .card:nth-child(3) {
      align-self: initial;
      margin-top: 80px;
      margin-left: auto;
      margin-right: auto;
      max-width: 418px;
  }

  .boostSec {
      margin-top: 360px;
  }

  footer .left {
      flex-basis: 31.2%;
  }

  footer .right {
      flex-basis: 72%;
  }

}

@media (max-width:767px) {

  .land {
      flex-direction: column-reverse;
  }

  .land .left {
      text-align: center !important;
  }

  .land .left p {
      margin: 0 auto;
  }

  .land .right img {
      width: 100%;
  }

  .Form .fr {
      flex-direction: column;
      padding: 18px 30px;
      background-image: url(./assets/bg-boost-mobile.svg);
      background-size: cover;
      background-position: 40px -40px;
  }

  .Form .fr input[type=text] {
      width: 100%;
      font-size: 18px;
      padding: 16px 28px;
      letter-spacing: 0;
  }

  .Form .fr button {
      width: 100%;
      font-size: 18px;
      padding: 16px 28px;
      font-weight: 500;
  }

  .Cards {
      margin-top: 35px;
  }

  .Cards .container {
      flex-direction: column;
      flex-wrap: nowrap;
  }

  .Cards::after {
      display: none;
  }

  .Cards::before {
      height: 800px;
  }

  .card {
      margin: 86px auto 0;
      max-width: 420px;
      text-align: center;
  }

  .card .img {
      left: 50%;
      transform: translateX(-50%);
  }

  .boostSec {
      margin-top: 680px;
  }

  footer .container {
      flex-direction: column;
  }

  footer .logo {
      margin-bottom: 26px;
      text-align: center;
  }

  footer .right {
      flex-wrap: wrap;
      text-align: center;
      justify-content: space-around;
  }

  footer .right .social {
      margin-top: 30px;
  }
}

@media (max-width:510px) {
   .boostSec {
      margin-top: 780px;
  }

  footer .right {
      flex-wrap: nowrap;
      flex-direction: column;
  }

  footer .right ul:not(.social) {
      margin-bottom: 20px;
  }

  footer .right .social {
      justify-content: space-evenly;
      width: 80%;
      margin: 20px auto;
  }
}

@media (max-width:355px) {
   .boostSec {
      margin-top: 880px;
  }

  .boostSec h2 {
      font-size: 1.9rem;
  }

  .card {
      padding: 56px 24px 26px;
  } 
}

@media (max-width:282px) {

  .landing .container .left h1 {
      font-size: 2.2rem !important;
  }

  .boostSec {
      margin-top: 1000px;
  }

  .card {
      padding: 56px 22px 24px;
  }

  footer .container {
      padding-bottom: 80px;
  }

  .Cards::before {
      height: 1040px;
  } 
}

@media (max-width:249px) {
  .boostSec {
      margin-top: 1160px;
  }

  .card h3 {
      font-size: 18px;
  }

  .card {
      padding: 56px 18px 24px;
  }
}

@media (min-width:992px) {
  .mobileNav {
      display: none;
  }
}